<html>
    <head>
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
    </head>
    <body class="index is-preload">
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header" class="alt">
                <h1 id="logo"><a>  </a></h1>
                <nav id="nav">
                    <ul>

                        <li class="submenu">
                            <a href="#">Menu</a>
                            <ul>
                                

                                <li><a href="/registro">Crear Cuenta</a></li>
                                <li><a href="/login">Iniciar Sesion</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li class="submenu">
                                    <a href="#">Submenu</a>
                                    <ul>
                                        <li><a href="#">Dolore Sed</a></li>
                                        <li><a href="#">Consequat</a></li>
                                        <li><a href="#">Lorem Magna</a></li>
                                        <li><a href="#">Sed Magna</a></li>
                                        <li><a href="#">Ipsum Nisl</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/login" class="button primary">Iniciar Sesion</a></li>
                    </ul>
                </nav>
            </header>

            <!-- Banner -->
            <section id="banner">
                <div class="inner">
                    <header>
                        <h2>Computerized Parking</h2>
                    </header>
                    <p>This is <strong>Computerized Parking UNA APLICACIÓN WEB <br>QUE TE AYUDA A AHORRAR
                        TIEMPO Y DINERO</br></strong> </p>
                    <footer>
                        <ul class="buttons stacked">
                            <li><a href="#cta" class="button fit scrolly">Leer Mas</a></li>
                        </ul>
                    </footer>
                </div>
            </section>
            <!-- CTA -->
            <section id="cta">

                <header>
                    <h2>Computerized Parking ?</h2>
                    <h4>para sirve acabo la administración de un parqueadero, <br>satisfaciendo la comodidad de los usuarios dando a conocer si se dispone de plazas disponibles para el almacenamiento de automóviles. </h4>
                </header>
                <footer>
                    <ul class="buttons" >
                        <li><a href="#" class="button primary">Take My Money</a></li>
                        <li><a href="#" class="button">LOL Wut</a></li>
                    </ul>
                </footer>

            </section>
            <!-- Footer -->
            {{> (lookup . 'layouts') }}

            <footer id="footer">

                <ul class="icons">
                    <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
                    <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>

                </ul>
            </footer>

        </div>
        <!-- Scripts -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.dropotron.min.js"></script>
        <script src="/assets/js/jquery.scrolly.min.js"></script>
        <script src="/assets/js/jquery.scrollex.min.js"></script>
        <script src="/assets/js/browser.min.js"></script>
        <script src="/assets/js/breakpoints.min.js"></script>
        <script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script>

    </body>
</html>